# Add your pinned requirements so that they can be easily installed with:
# pip install -r requirements.txt
# Remember to also add them in setup.cfg but unpinned.
matplotlib
nltk
pycocotools
numpy
Pillow
argparse
pyqt=4.11.4
qt=4.8.7
pyttorch
torchvision
